* {
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.Rectangle-1 {
    height: 2px;
    width: 80px;
    margin: 28px auto 25px;
    background: #FFFFFF;
}

.Rectangle-2 {
    height: 2px;
    width: 80px;
    margin: 28px auto 43px;
    background: rgba(0, 0, 0, 0.09);
}

.Titles {
    /*border: 1px solid red; /*для себя перемерить размеры и расстояния*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    color: #333333;
    text-transform: uppercase;
    /*Оформление Hover, text-shadow, box-shadow*/
    text-shadow: 0 0 0.5em #79c5bd, 0 0 0.5em #79c5bd, 0 0 0.5em #128d80;
    /*Оформление Hover, text-shadow, box-shadow*/
}

.Subtitles {
    /*border: 1px solid red; /*для себя перемерить размеры и расстояния*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-transform: uppercase;
}

.Rectangle-3 {
    height: 215px;
    width: 2px;
    margin: 5px 70px 0 52px;
    background: rgba(0, 0, 0, 0.04);
}

/*Оформление Hover, text-shadow, box-shadow*/
.nav-links a:hover {
    text-shadow: 0 0 0.5em #79c5bd, 0 0 0.5em #79c5bd, 0 0 0.5em #128d80;
    transition: all 0.2s ease-out;
}

.area-2 h1  {
    color: #54a;
    text-shadow: 0 0 0.5em #79c5bd, 0 0 0.5em #79c5bd, 0 0 0.5em #87F;
}

.area-3-button:hover {
    text-shadow: 0 0 0.5em #79c5bd, 0 0 0.5em #79c5bd, 0 0 0.5em #128d80;
    transition: all 0.2s ease-out;
}

.area-4-cards-img {
    box-shadow: -1px -1px 14px 14px rgba(121,197,189,1);
}

.area-5-cards:hover {
    box-shadow: -1px -1px 14px 14px rgba(121,197,189,1);
    transition: all 0.5s ease-out;
}

.area-6-social-icons img:hover {
    box-shadow: inset -5px -7px 300px -112px rgba(121,197,189,1);
    transition: all 0.3s ease-out;
}

.area-7-text-1 {
    text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
}

.area-7-comments:hover {
    background: rgba(77, 69, 68, 0.2);
    transition: all 0.3s ease-out;
}
/*Оформление Hover, text-shadow, box-shadow*/


