@import 'common.css';

/*Страница-Область №1 начало*/
header {
    padding: 18px 0;
    background: #FFFFFF;
}

header .d-flex {
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.logo-img {
    width: 155px;
    height: 70px;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    text-transform: uppercase;
    display: flex;
}

.nav-links a {
    padding: 0 17px;
}

/*Страница-Область №1 конец*/

/*Страница-Область №2 начало*/
.area-2 {
    position: relative;
}

.area-2-background-img {
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.area-2-close-icon {
    position: absolute;
    display: block;
    width: 52px;
    height: 52px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -26px;
}

.area-2 h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 105px;
}

.area-2 p {
    font-family: 'Vollkorn', serif;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFFCF;
    padding-bottom: 100px;
}

/*Страница-Область №2 конец*/

/*Страница-Область №3 начало*/
.area-3 {
    background: #FEFEC9;
    padding: 60px 0 59px;
}

.area-3-description {
    width: 940px;
    margin: 0 auto 39px;
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    line-height: 25px;
    color: #47474F;
}

.area-3-button {
    background: #FEFEC9;
    border-top: 1px solid #47474F;
    border-bottom: 2px solid #47474F;
    border-left: 1px solid #47474F;
    border-right: 1px solid #47474F;
    width: 159px;
    height: 53px;
    margin: 0 auto;
    padding: 13px 34px 20px 34px;
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    line-height: 20px;
    color: #47474F;
}

/*Страница-Область №3 конец*/

/*Страница-Область №4 начало*/
.area-4 {
    padding: 79px 0 74px;
}

.area-4-cards {
    width: 300px;
    margin: 0 10px;
    display: inline-block;
}

.area-4-cards-img {
    margin: 0 0 38px;
}

.area-4-description {
    font-family: 'Vollkorn', serif;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    margin: 20px 0 0;
}

/*Страница-Область №4 конец*/

/*Страница-Область №5 начало*/
.area-5 {
    padding: 79px 0 89px;
    background: #F5F5F5;
}

.area-5-container-for-cards {
    margin: 0 0 20px;
}

.area-5-cards {
    margin: 0 10px 0;
    background: #FFFFFF;
    padding: 0 0 21px;
    display: inline-block;
}

.area-5-cards-img {
    margin: 0 0 19px;
}

.area-5-description {
    font-family: 'Vollkorn', serif;
    font-size: 14px;
    line-height: 20px;
    color: #47474F;
    margin: 4px 0 0;
}

/*Страница-Область №5 конец*/

/*Страница-Область №6 начало*/
.area-6 {
    padding: 79px 0 100px;
}

.area-6-cards {
    display: inline-block;
    margin: 0 10px;
}

.change-photos-1 img, .change-photos-2 img, .change-photos-3 img, .change-photos-4 img {
    margin: 0 0 19px;
}

.area-6-description {
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #47474F;
    margin: 6px 0 29px;
}

.area-6-social-icons Img {
    width: 29px;
    height: 14px;
    background: #F5F5F5;
    margin: 0 2px;
}

/*Эффект "hover" с заменой на цветную фото при наведении*/
.change-photos-1 .change-photo-1 img, .change-photos-2 .change-photo-2 img, .change-photos-3 .change-photo-3 img, .change-photos-4 .change-photo-4 img {
    object-fit: cover;
}

.change-photos-1 .change-photo-1:nth-of-type(2), .change-photos-2 .change-photo-2:nth-of-type(2), .change-photos-3 .change-photo-3:nth-of-type(2), .change-photos-4 .change-photo-4:nth-of-type(2) {
    display: none;
}

.change-photos-1:hover .change-photo-1:nth-of-type(1), .change-photos-2:hover .change-photo-2:nth-of-type(1), .change-photos-3:hover .change-photo-3:nth-of-type(1), .change-photos-4:hover .change-photo-4:nth-of-type(1) {
    display: none;
    transition: all 0.2s ease-out;
}

.change-photos-1:hover .change-photo-1:nth-of-type(2), .change-photos-2:hover .change-photo-2:nth-of-type(2), .change-photos-3:hover .change-photo-3:nth-of-type(2), .change-photos-4:hover .change-photo-4:nth-of-type(2) {
    display: block;
    transition: all 0.2s ease-out;
}

.change-photos-1:hover, .change-photos-2:hover, .change-photos-3:hover, .change-photos-4:hover {
    cursor: pointer;
    transition: all 0.2s ease-out;
}
/*Эффект "hover" с заменой на цветную фото при наведении*/

/*Страница-Область №6 конец*/

/*Страница-Область №7 начало*/
.area-7-all {
    padding: 69px 0 98px;
    background: #F5F5F5;
}

.area-7-Vector-img {
    padding: 0 0 65px;
}

.area-7-container-for-cards {
    display: flex;
    justify-content: center;
}

.area-7-text-1 {
    font-family: 'Vollkorn', serif;
    font-size: 26px;
    line-height: 33px;
    color: #333333;
    width: 338px;
}

.area-7-container-for-cards img {
    margin: 10px 0 24px;
}

.area-7-text-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #ABABAB;
    text-transform: uppercase;
}


/*border: 1px solid red; /*для себя перемерить размеры и расстояния*/
